@(referenceForm: Form[Reference])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h1>Add a reference</h1>
    
    @form(routes.Application.save()) {
        
        <fieldset>
        
            @inputText(referenceForm("title"), '_label -> "title")
            @inputText(referenceForm("link"), '_label -> "link")
            @inputText(referenceForm("note"), '_label -> "note")

            

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this reference" class="btn primary"> or 
            <a href="@routes.Application.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
}
