@(id: Long, referenceForm: Form[Reference])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h1>Edit reference</h1>
    
    @form(routes.Application.update(id)) {
        
        <fieldset>
        
            @inputText(referenceForm("title"), '_label -> "title")
            @inputText(referenceForm("link"), '_label -> "link")
            @inputText(referenceForm("note"), '_label -> "note")
        
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save this reference" class="btn primary"> or 
            <a href="@routes.Application.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
    @form(routes.Application.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this reference" class="btn danger">
    }
    
}
