@(loginForm: Form[Application.Login])
	@import helper._


	@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }
	@main{
		<h1>Sign in</h1>
		@if(loginForm.hasGlobalErrors){
		<p class="error">
		@loginForm.globalError.message
		</p>
		}
			@form(routes.Application.authenticate) {
				<fieldset>
					@inputText(loginForm("email"),'_lable -> "email")
					@inputText(loginForm("password"),'_lable -> "password")
					</fieldset>
					<div class="actions">
					<input type="submit" value="Login" class="btn primary"> or
					<a href="@routes.Application.list()" class="btn">Cancel</a>
					</div>

			}
	}								    
